html {
  margin: 0;
  background-color: rgb(226, 226, 241);
}

.header {
  text-align: center;
}

.title {
  font-size: 35px;
  color: hsl(293, 83%, 32%);
}

hr {
  width: 300px;
  margin-bottom: 20px;
}

.section-palette {
  display: flex;
  justify-content: center;
}

.color-palette {
  display: flex;
  justify-content: center;
}

.fieldset-palette {
  text-align: center;
  font-size: 15px;
  border-radius: 30px;
  border-width: 5px;
}

.section-size {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 20px;
}

.input-size {
  margin: 7px;
  font-size: 20px
}

.button {
  font-size: 15px;
  padding: 4px 10px;
  border-radius: 5px;
  margin-left: 15px;
}

.pixel-painel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-board {
  display: flex;
}

.color {
  border: solid;
  border-width: 1px;
  display: inline-block;
  height: 40px;
  margin: 0px 5px;
  width: 40px;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.brown {
  background-color: brown;
}

.grey {
  background-color: grey;
}

.green {
  background-color: green;
}

.magenta {
  background-color: magenta;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: pink;
}

.purple {
  background-color: purple;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.pixel {
  background-color: white;
  border: solid;
  border-color: black;
  border-width: 1px;
  display: inline-block;
  height: 50px;
  margin: 2px;
  width: 50px;
}

.selected {
  border: solid red;
}
