* {
  margin: 0;
}

#div-header {
  background-color: rgb(95, 94, 94);
  
}

#div-logo {
  width: auto;
}

#div-title {
  text-align: left;
  width: auto;
  font-size: 20px;
  position: absolute;
  padding: 30px;
  margin-top: 50px;
  margin-left: 5em;
}

#div-picture {
  width: auto;
  float: right;
}

#picture-perfil {
  border-radius: 90%;
  height: 280px;
  margin-top: 13px;
  margin-right: 10px;
}

img {
  position: relative;
  width: 260px;
  height: 300px;
}

#div-logo, #div-title, #div-picture {
  display: inline-block;
  
}

strong {
  font-size: 60px;
}