@font-face {
  font-family: 'OpenSams';
  src: url('./fontes/OpenSans-Regular.ttf');
}

* {
  margin: 0;
  font-family: "OpenSams";
}

.header {
  align-items: center;
  background-color: #5f5f5f;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

.image-header {
  height: 110px;
  padding: 10px;
}

.logo {
  width: 900px;
}

.title {
  font-size: 23px;
  width: 80%;
}

.picture {
  border-radius: 90%;
}

.div-picture {
  display: flex;
  justify-content: flex-end;
}

.nav-menu {
  display: flex;
  justify-content: center;
  background-color: #5f5f5f;
}

.span-nav {
  color: black;
  cursor: pointer;
  padding: 5px 25px;
  font-size: 15px;
}

.span-nav:hover {
  background-color: rgb(180, 180, 180);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-weight: bolder;
}

.div-main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.left-content, .center-content, .right-content {
  border: solid;
  border-radius: 9px;
  border-color: #5f5f5f;
  border: outset;
  border-width: 0.5;
  padding: 20px;
}

.left-content, .right-content {
  align-items: center;
  flex-direction: column;
  display: flex;
  max-height: 380px;
  min-height: 380px;
  width: 15%;
}

.center-content {
  width: 45%;
  min-height: 380px;
  margin-bottom: 80px;
}

.container-skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.subtitle-home {
  color: #696767;
}

.text-principal {
  line-height: 25px;
  padding: 20px;
}

.contact {
  align-items: center;
  display: flex;
  font-size: 12px;
}

ul {
  margin-top: 15px;
}

li {
  font-size: 12px;
  list-style-position:  outside;
  margin-top: 5px;
}

.links-container {
  display: flex;
  padding: 15px 50px;
  justify-content: space-around;
  margin-top: 20px;
}

.link {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 200px;
}

.text-linkedin {
  font-size: 15px;
  color: blue;
  font-weight: bold;
  margin-left: 10px;
}

.text-instagram {
  font-size: 15px;
  color: rgb(252, 61, 92);
  font-weight: bold;
  margin-left: 10px;
}

.text-github {
  font-size: 15px;
  color: black;
  font-weight: bold;
  margin-left: 4px;
}

.homeHeader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  padding: 10px 10px 30px 10px;
}

.container-logos-home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
}

.container-logos-tecno {
  align-items: center;
  display: flex;
  justify-content: center;
}

.logoBrothers {
  width: 80px;
}

.logoRafaexpress {
  width: 180px;
}

.tecnoIcon {
  width: 20px;
  margin: 0 3px;
}

.logo-redux {
  width: 15px;
}

.link-logo-github {
  width: 40px;
}

.link-logo-linkid, .link-logo-insta {
  width: 30px;
}

.img-softSkill {
  width: 50px;  
}

.img-hardSkill {
  width: 60px;
}

.my-projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 30px;
}

.link-project {
  padding: 10px 0px;
}

.courses-container {
  display: flex;
  flex-direction: column;
}

.course {
  align-items: center;
  display: flex;
  padding: 20px;
}

.contact-icon {
  margin-right: 10px;
  width: 40px;
}

.container-certificates {
  align-items: center;
  display: flex;
}

.link-certificate {
  align-items: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  display: flex;
  margin: 20px 30px;
  text-decoration: none;
  width: 300px;
}

.img-certificate {
  height: 180px;
  width: 100%;
}

.text-certificate {
  font-size: 12px;
}

.container-project-trybe {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 20px 50px;
}

.link-home {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.select-projects {
  background-color: rgb(224, 220, 220);
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 10px;
  width: 150px;
}

.container-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #5f5f5f;
  height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.text-footer {
  font-size: 12px;
}

.container-card {
  align-items: center;
  display: flex;
  justify-content: center;
}

.img-pucIcon {
  width: 150px;
}

h2 {
  font-size: 20px;
}

.img-coursesIcon {
  height: 60px;
}

.iconLarge {
  height: 25px;
}

.container-icon-courses {
  width: 150px;
}

.text-info-course {
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 0;
  }

  .image-header {
    width: 50px;
    height: auto;
  }
  
  .logo {
    width: 40px;
  }
  
  .title {
    font-size: 8px;
    width: 160px;
    margin: 0;
  }

  .nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2px;
  }
  
  .span-nav {
    margin: 0;
    font-size: 10px;
    padding: 5px;
  }

  .div-main {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }

  .left-content, .center-content, .right-content {
    padding: 10px;
    margin-top: 10px;
  }

  .left-content, .right-content {
    flex-direction: row;
    justify-content: center;
    max-height: auto;
    min-height: auto;
    width: 90%;
  }

  .center-content {
    min-height: 0;
    margin-bottom: 0;
    order: 0;
    width: 90%;
  }

  .left-content {
    order: 1;
  }

  .right-content {
    order: 2;
    margin-bottom: 50px;
  }

  .text-principal {
    line-height: 15px;
    font-size: 10px;
    padding: 10px;
  }

  ul {
    margin-top: 0;
    width: 100px;
  }

  li {
    font-size: 7px;
    list-style-position:  outside;
    margin-top: 2px;
  }

  h2 {
    font-size: 15px;
  }

  h4, h3 {
    font-size: 9px;
  }

  .container-skills {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80px;
  }

  .logoBrothers {
    width: 45px;
  }

  .logoRafaexpress {
    width: 95px;
  }

  .link-logo-github {
    width: 25px;
  }
  
  .link-logo-linkid, .link-logo-insta {
    width: 20px;
  }

  .img-softSkill {
    width: 40px;  
  }

  .img-hardSkill {
    width: 50px;
  }

  .links-container {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  
  .link {
    margin: 5px 15px;
  }
  
  .contact-icon {
    width: 30px;
  }

  .select-projects {
    font-size: 10px;
    padding: 3px 10px;
    width: 110px;
  }

  .my-projects {
    padding: 0 30px;
  }

  .container-project-trybe {
    margin: 15px;
  }

  .img-pucIcon {
    width: 100px;
  }
  
  .img-coursesIcon {
    height: 40px;
    margin-right: 20px;
  }

  .iconLarge {
    height: 20px;
  }

  .text-info-course {
    font-size: 10px;
  }

  .container-footer {
    height: 40px;
  }

  .text-footer {
    font-size: 8px;
    text-align: center;
  }

  .container-logos-home {
    height: 50px;
  }

  .tecnoIcon {
    width: 10px;
  }

  .nameTitle {
    font-size: 20px;
  }

  .container-certificates {
    flex-direction: column;
  }

  .text-github, .text-instagram, .text-linkedin {
    font-size: 12px;
  }
}

@media screen and (min-width: 601px)  and (max-width: 1200px) {
  .header {
    padding: 0;
    padding: 2px 10px;
  }

  .image-header {
    height: auto;
    width: 80px;
  }
  
  .logo {
    width: 90px;
  }
  
  .title {
    font-size: 15px;
    width: 240px;
    margin: 0;
  }

  .nameTitle {
    font-size: 25px;
  }

  .nav-menu {
    display: flex;
    justify-content: center;
    padding: 2px;
  }
  
  .span-nav {
    font-size: 12px;
    padding: 8px;
  }

  .div-main {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }

  .left-content, .center-content, .right-content {
    padding: 10px;
    margin-top: 10px;
  }

  .left-content, .right-content {
    flex-direction: row;
    justify-content: center;
    max-height: auto;
    min-height: auto;
    width: 90%;
  }

  .center-content {
    width: 90%;
    order: 0;
    margin-bottom: 0;
    min-height: 0;
  }

  .left-content {
    order: 1;
  }

  .right-content {
    order: 2;
    margin-bottom: 50px;
  }

  .text-principal {
    font-size: 15px;
    padding: 10px;
  }

  ul {
    margin-top: 0;
    width: 200px;
  }

  li {
    font-size: 15px;
    list-style-position:  outside;
    margin-top: 2px;
  }

  h2 {
    font-size: 20px;
  }

  h4, h3 {
    font-size: 15px;
  }

  .container-skills {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 60px; 
    width: 150px;
  }

  .logoBrothers {
    width: 60px;
  }

  .logoRafaexpress {
    width: 140px;
  }

  .link-logo-github {
    width: 40px;
  }
  
  .link-logo-linkid, .link-logo-insta {
    width: 30px;
  }

  .img-softSkill {
    width: 60px; 
  }

  .img-hardSkill {
    width: 70px;
  }

  .links-container {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  
  .link {
    margin: 5px 15px;
  }
  
  .contact-icon {
    width: 30px;
  }

  .container-logos-home {
    height: 75px;
  }
  
  .container-certificates {
    flex-direction: column;
  }

  .select-projects {
    font-size: 15px;
    padding: 3px 10px;
    width: 180px;
  }

  .container-project-trybe {
    margin-bottom: 15px;
  }

  .container-footer {
    height: 40px;
  }

  .text-footer {
    font-size: 8px;
    text-align: center;
  }
}
