body {
  background-color: rgb(253 , 251 , 251);
  margin: 0%;
}

.header {
  position: fixed;
  top: 0;
  background-color: rgb(15, 112, 15);
  width: 100%;
}

.header-nav {
  margin-bottom: 10px;
  margin-left: 30px;
  font-size: 15px;
}

a {
  text-decoration: none;
}

.link {
  color: black;
  margin-right: 20px;
}

.title {
  font-family: Courier New, Courier, serif;
  font-size: 2em;
  color: black;
  text-align: center;
}

.container-perfil {
  display: flex;
  flex-direction: column;
}

.my-picture {
  margin-top: 90px;
  border-radius: 50%;
  border-style: solid;
  border-color: gray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

.name {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 30px;
}

.link-github {
  text-align: center;
  font-size: 15px;
}

.container-lists {
  display: flex;
  justify-content: space-around;
  padding: 0px 180px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  font-size: 20px;
}

th {
  font-size: 25px;
}

.articles {
  display: flex;
  justify-content: space-around;
}

.left-side {
  width: 45%;
}

.right-side {
  width: 35%;
}

.asides {
  border: solid;
  border-radius: 10px;
  border-color:rgb(15, 112, 15);
  padding: 10px 20px;
  line-height: 25px;
}

.footer {
  margin-top: 400px;
  text-align: center;
  height: 40px;
  background-color: rgb(15, 112, 15);
}

.p-footer {
  padding-top: 10px;
}
