* {
  margin: 0px;
  background-color: #fcf8f5;
}

.logotype {
  width: 120px;
  cursor: pointer;
  border-radius: 10px;
}

.paragraph-logo {
  font-size: 20px;
  color: #005952;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
}

.logo-description {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  padding: 40px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px 20px 40px;
}

.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  color: #005952;
}

.subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  color: #f79831;
}

.image-header {
  width: 300px;
}

.container-hr {
  display: flex;
  justify-content: center;
  color: #005952;
}

.hr-header {
  width: 95%;
}

.conatiner-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 10px 50px;
}

.btn-order {
  font-family: 'Source Sans Pro', sans-serif;
  width: 180px;
  margin: 10px 0px;
  border: none;
  font-size: 15px;
  border-radius: 30px;
  padding: 5px 20px;
  background-color:#f79831;
  color:#005952;
  font-weight: bold;
  cursor: pointer;
}

.service-btn {
  width: 150px;
  font-size: 12px;
}

.span-button {
  color: #005952;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  padding: 7px;
}

.span-nav {
  border-right: solid 3px;
  color: #f79831;
  font-weight: bold;
  padding-right: 30px;
  cursor: pointer;
}

.a-nav {
  color: #005952;
  cursor: pointer;
}

.main-container {
  min-height: 550px;
}

.service-local {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #005952;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.service-container {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.service-image {
  width: 250px;
  border-radius: 30px;
  margin-right: 40px;
}

.service-title {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f79831;
  font-weight: bold;
}

.service-description {
  padding: 15px;
  font-size: 15px;
  color: #005952;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.contact-container-main {
  display: flex;
  justify-content: center;
}

.contact-msg {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #f79831;
  font-weight: bold;
  margin-top: 10px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  width: 270px;
  align-items: center;
  justify-content: space-around;
  color: #005952;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  border: solid;
  border-style: outset;
  border-radius: 20px;
  margin: 10px;
  padding: 40px 5px;
}

.contact-image {
  width: 130px;
  border-radius: 180px;
  padding: 5px;
}

.contact-description {
  padding: 22px;
  text-align: center;
  color: #005952;
  font-size: ;
}

.contact-cel {
  font-size: 20px;
  color: #15a81c;

}

.footer-container {
  display: flex;
  background-color: #005952;
  justify-content: center;
  margin-top: 30px;
  padding: 30px;
}

.company {
  background-color: #005952;
  color: #f79831;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .container-header {
    justify-content: center;
    padding: 0;
  }

  .logotype {
    width: 150px;
  }

  .title, .subtitle, .conatiner-button {
    display: none;
  }

  .nav-container {
    justify-content: space-around;
    font-size: 10px;
    padding: 3px;
  }

  .span-nav {
    border-right: solid 2px;
    padding-right: 10px;
  }

  .service-local {
    font-size: 13px;
    padding: 5px;
  }

  .service-container {
    padding: 8px 0px;
  }
  
  .text-container {
    width: 150px;
  }
  
  .service-image {
    width: 150px;
    border-radius: 20px;
    margin-right: 5px;
  }

  .service-title {
    font-size: 15px;
    text-align: center;
  }
  
  .service-description {
    padding: 5px;
    font-size: 10px;
  }

  .service-btn {
    width: 80px;
    font-size: 8px;
    padding: 2px;
  }

  .footer-container {
    margin-top: 20px;
    padding: 10px;
  }
  
  .company {
    font-size: 10px;
    text-align: center;
  }

  .contact-msg {
    font-size: 8px;
    margin-top: 5px;
  }

  .contact-container-main {
    align-items: center;
    flex-direction: column;
  }

  .contact-container {
    padding: 10px 0;
    width: 90%;
  }
  
  .contact-image {
    width: 80px;
  }
  
  .contact-cel {
    font-size: 15px;  
  }


  .logo-description {
    padding: 10px;
  }

  .logoSubtitle {
    display: inline;
    font-size: 17px;
  }

  .paragraph-logo {
    font-size: 15px;
    padding: 5px;
  }

}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .container-header {
    padding: 0 10px;
  }

  .logotype {
    width: 80px;
  }

  .title {
    font-size: 35px;
  }
  
  .subtitle {
    font-size: 15px;
  }

  .conatiner-button {
    padding: 10px;
  }

  .btn-order {
    width: 110px;
    font-size: 10px;
    padding: 4px 2px;
  }

  .span-button {
    font-size: 10px;
  }

  .nav-container {
    font-size: 13px;
    padding: 5px;
  }
  
  .span-nav {
    border-right: solid 2px;
    padding-right: 20px;
  }

  .service-local {
    font-size: 15px;
    padding: 5px;
  }

  .service-container {
    padding: 8px 0px;
  }

  .text-container {
    width: 250px;
  }
  
  .service-image {
    width: 220px;
    border-radius: 20px;
    margin-right: 10px;
  }

  .contact-msg {
    font-size: 12px;
    margin-top: 5px;
  }

  .company {
    font-size: 10px;
    text-align: center;
  }

  .contact-cel {
    font-size: 13px;  
  }

  .logoSubtitle {
    font-size: 25px;
  }
}
